.welcomePage {
  background-image: url("https://images.unsplash.com/photo-1530176928500-2372a88e00b5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}

.cardTitle {
  font-size: xx-large;
  color: black;
  align-self: center;
}

.buttonClass {
  opacity: 1 !important;
}
